

header {
    display: flex;
    padding: 10px;
    margin-top:3%;
    border-top: 2px solid #dee5e8;
    border-bottom: 2px solid #dee5e8;
    margin-bottom: 5%;
}

.logo{
	margin-left: 200px;
}

li {
    float: left;
	padding: 15px 10px;
}


li a {
    color: #8c8c8c;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li a:hover {
    background-color: #111;
}

.main-menu_container {
    align-items: center;
    display: flex;
}

.main-menu {
    margin: auto;
}

.second_bloc{
	font-family: 'Source Sans Pro', sans-serif;
	background: #30c3a6;
	text-align:center;
	color: white;
	padding-top:3%;
}

 button a{
	 text-decoration:none;
	 color:white;
 }
 
 .third_bloc{
	 text-align:center;
	 background-color:white;
	 padding-top:5%;
	 padding-right:15%;
	 padding-left:15%;
	 padding-bottom:5%;
 }
 
 
.third_bloc h1:before,
.third_bloc h1:after,.forth_bloc .header:before,
.forth_bloc .header:after   {
    background-color: grey;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.third_bloc h1:before,.forth_bloc h1:before {
    right: 0.5em;
    margin-left: -60%;
}
.third_bloc h1:after,.forth_bloc h1:after {
    left: 0.5em;
    margin-right: -60%;
}

.third-aside{
	overflow: hidden;
	background-color: #30c3a6;
	text-align: center;
}
.third-section{
	margin:0 250px;
	color:white;
}
.third-section h1{

	border-bottom: 4px solid #dee5e8;
	line-height: 0;
	padding-top: 30px;
	
}
.third-section h1 span{
    padding: 25px;
    font-weight: lighter;
    background-color: #30c3a6;	
}
.third-section .images{
	margin-top:50px;
	align:center;
}
.third-section div.img {

 	margin:0 85px;
    float: left;
    width: 180px;
}


.third-section div.img img {
    width: 100%;
    height: auto;
}

.third-section div .desc,h2 {
    padding: 15px;
    text-align: center;
}
footer{

	overflow: hidden;
	padding: 15px;
	background-color:#233446;
}
footer p{
	margin-top:15px;
	float: right;
	padding-right: 13%;
	color:white;
}




