

header {
    display: flex;
    padding: 10px;
    margin-top:3%;
    border-top: 2px solid #dee5e8;
    border-bottom: 2px solid #dee5e8;
    margin-bottom: 5%;
}

.logo{
	margin-left: 200px;
}

li {
    float: left;
	padding: 15px 10px;
}


li a {
    color: #8c8c8c;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li a:hover {
    background-color: #111;
}

.main-menu_container {
    align-items: center;
    display: flex;
}

.main-menu {
    margin: auto;
}

.second_bloc{
	font-family: 'Source Sans Pro', sans-serif;
	background: #30c3a6;
	text-align:center;
	color: white;
	padding-top:3%;
}

 button a{
	 text-decoration:none;
	 color:white;
 }
 
 .third_bloc{
	 text-align:center;
	 background-color:white;
	 padding-top:5%;
	 padding-right:15%;
	 padding-left:15%;
	 padding-bottom:5%;
 }
 
 
.third_bloc h1:before,
.third_bloc h1:after,.forth_bloc .header:before,
.forth_bloc .header:after ,.form h1:before, .form h1:after  {
    background-color: grey;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.third_bloc h1:before,.forth_bloc h1:before,.form h1:before {
    right: 0.5em;
    margin-left: -60%;
}
.third_bloc h1:after,.forth_bloc h1:after, .form h1:after {
    left: 0.5em;
    margin-right: -60%;
}


.forth_bloc{
	text-align:center;
	color:white;
	background-color:#30c3a6;
	 padding-top:5%;
	 padding-right:15%;
	 padding-left:15%;
	 padding-bottom:5%;
	
}

footer{

	overflow: hidden;
	padding: 15px;
	background-color:#233446;
}
footer p{
	margin-top:15px;
	float: right;
	padding-right: 13%;
	color:white;
}

.text1{
	text-align:center;
	padding-right:7%;
	padding-left:7%;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 20px;

}
.text2{
	text-align:center;
	padding-right:10%;
	padding-left:10%;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 10px;

}

td img {
	 width: 250px;
    height: auto;
}

.form{
	text-align:center;
	 background-color:red;
	 padding-top:5%;
	 padding-right:15%;
	 padding-left:15%;
	 padding-bottom:5%;
}

.form_box{
	background-color:white;
	margin:5%;
	padding: 5%;
}

input {
    width: 20%;
	height:30px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	
}

.form_box label,input{
	float:left;
	margin:5px;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.ceva{
	width:100%
	border-left:4px;
}
#message {
	width:400px;
	height:80px;
}

input[type=submit]{
	width:50%;
	position:center;
	margin-right:40px;
}






